h1
{
    padding: 30px;
    background-color:blue;
    color:white;
    text-align: center;
}
div {
    padding: 30px;
    background-color: red;
    text-align: center;
}
div p{
    text-align: left;
}
div div{
    padding: 10px;
    background-color:  rgb(24, 1, 1);
    text-align: left;
}
section {
    padding: 20px;
    background-color:rgb(5, 199, 183);
    text-align: center;
}
section p{
    text-align: left;
}
section div{
    padding: 10px;
    background-color:  rgb(24, 1, 1);
    text-align: center;
}
header {
    padding: 30px;
    background-color:rgb(231, 247, 6);
    text-align: center;
}
header div{
    padding: 10px;
    background-color:  rgb(24, 1, 1);
    text-align: center;
}
header p a{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid gold;
    color: gold;
}